<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.23, user-scalable=yes, minimum-scale=0.1, maximum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/dest/index.min.css">
    <title>滚轴效果</title>
</head>

<body>
    <div id="NewNet">
        <div class="header">
            <div class="logo">
                <img src="../public/images/logo.png" alt="logo">
            </div>
            <div class="menuList">
                <a href="#index" class="chosed">首页</a>
                <a href="#tuiJian">推荐</a>
                <a href="#News">新闻</a>
                <a href="#product">产品</a>
                <a href="#aboutUs">关于我们</a>
            </div>
        </div>
        <ul class="jinDuTiao">
            <li class="chose_li">
                <a href="#index" class="chosed"></a>
            </li>
            <li>
                <a href="#tuiJian"></a>
            </li>
            <li>
                <a href="#News"></a>
            </li>
            <li>
                <a href="#product"></a>
            </li>
            <li>
                <a href="#aboutUs"></a>
            </li>
            <li></li>
        </ul>
        <!-- 首页 -->
        <div id="index" class="content1"></div>
        <!-- 推荐 -->
        <div id="tuiJian" class="content2">
            <p>热门推荐</p>
            <div class="sideItem">
                <div class="dwBox">
                    <div class="placeShow">
                        <div class="textBox">
                            <div>
                                <span>拍摄乌镇风景</span>
                            </div>
                            <div>乌镇风景还记得那可是结婚了的客家话收到了狂欢节到时候见第十六届厚大司考还好了时代峰峻</div>
                        </div>
                        <div class="imgBox">
                            <img src="../public/images/tuijian_0.png" alt="">
                            <div class="imgBoxChild">
                                <img src="../public/images/tuijian_1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="detailBox" style="margin-top:150px;">
                        <div>
                            <img src="../public/images/tuijian_2.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <img src="../public/images/tuijian_3.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <img src="../public/images/tuijian_4.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <img src="../public/images/tuijian_5.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideItem">
                <div class="dwBox">
                    <div class="placeShow">
                        <div class="textBox">
                            <div>
                                <span>云南大理风景</span>
                            </div>
                            <div>乌镇风景还记得那可是结婚了的客家话收到了狂欢节到时候见第十六届厚大司考还好了时代峰峻</div>
                        </div>
                        <div class="imgBox">
                            <img src="../public/images/tuijian_0.png" alt="">
                            <div class="imgBoxChild">
                                <img src="../public/images/tuijian_1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="detailBox" style="margin-top:150px;">
                        <div>
                            <img src="../public/images/tuijian_2.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <img src="../public/images/tuijian_3.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <img src="../public/images/tuijian_4.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <img src="../public/images/tuijian_5.png" alt="">
                        </div>
                        <div>
                            <div>
                                <p>12-28</p>
                                <p>2017</p>
                            </div>
                            <div>
                                <p><a href="#News">在英国地方参加展览</a></p>
                                进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="handBox">
                <ul class="sideBtn">
                    <li class="li_active"></li>
                    <li></li>
                </ul>
                <span class="AddMoreBtn">MORE></span>
            </div>
        </div>

        <!-- 新闻 -->
        <div id="News" class="content3">
            <p>新 闻</p>
            <div class="sideItem">
                <div class="dwBox">
                    <div class="mainImg">
                        <img src="../public/images/news_0.png" alt="">
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="./newsDetail.html">新品发布</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                </div>
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News"><a href="#News">在英国地方参加展览</a></a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideItem">
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                </div>
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideItem">
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                </div>
                <div class="dwBox">
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                    <div class="detailBox">
                        <div>
                            <p>12-28</p>
                            <p>2017</p>
                        </div>
                        <div>
                            <p><a href="#News">在英国地方参加展览</a></p>
                            进行一段描述时候开软件还三等分煞风景 回家睡觉哈萨克；换手机号生日聚会的
                        </div>
                    </div>
                </div>
            </div>
            <div class="handBox">
                <ul class="sideBtn">
                    <li class="li_active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <span class="AddMoreBtn">MORE></span>
            </div>
        </div>

        <!-- 产品 -->
        <div id="product" class="content4">
            <p>产品</p>
            <div class="sideItem shun">
                <div class="productImgBox">
                    <div></div>
                    <div></div>
                    <div>
                        <img src="../public/images/chanpin_0.png" alt="">
                    </div>
                </div>
                <div class="instructions">
                    <a href="./productDetail.html">Prime-TI</a>
                    <div>产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述</div>
                </div>
            </div>
            <div class="sideItem fan">
                <div class="productImgBox">
                    <div></div>
                    <div></div>
                    <div>
                        <img src="../public/images/chanpin_0.png" alt="">
                    </div>
                </div>
                <div class="instructions">
                    <a href="./productDetail.html">Prime-TI</a>
                    <div>产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述</div>
                </div>
            </div>
            <div class="handBox">
                <ul class="sideBtn">
                    <li class="li_active"></li>
                    <li></li>
                </ul>
                <div class="AddMoreBtn"></div>
            </div>
        </div>

        <!-- 关于我们 -->
        <div id="aboutUs" class="content5">
            <div>
                <p>联系我们</p>
                <div>
                    <img src="../public/images/dianhua_03.png" alt="">
                    <p>(0755)21034720</p>
                </div>
                <div>
                    <img src="../public/images/xinfeng_04.png" alt="">
                    <p>ray.chang@spiritlaboptics.com</p>
                </div>
                <div>
                    <img src="../public/images/dingwei_05.png" alt="">
                    <p>深圳市龙华区民治街道民康路民兴工业区1970科技园3栋3楼302</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script>
        $(function () {
            /*头部菜单*/
            $(".menuList>a").click(function () {
                $(this).addClass("chosed").siblings().removeClass("chosed");
                $(".jinDuTiao>li").eq($(this).index()).addClass("chose_li").siblings().removeClass(
                    "chose_li");
                if ($(this).index() == 3) {
                    $(".jinDuTiao").addClass("borderColor");
                    $(".header").addClass("borderColor");
                } else {
                    $(".jinDuTiao").removeClass("borderColor");
                    $(".header").removeClass("borderColor");
                }
            })
            $(".jinDuTiao>li").click(function () {
                $(this).addClass("chose_li").siblings().removeClass("chose_li");
                $(".menuList>a").eq($(this).index()).addClass("chosed").siblings().removeClass("chosed");
            })

            /*初始页面定位设置*/
            var primeID = window.location.href.split("#")[1];
            switch (primeID) {
                case "index":
                    $(".menuList>a").eq(0).click();
                    break;
                case "tuiJian":
                    $(".menuList>a").eq(1).click();
                    break;
                case "News":
                    $(".menuList>a").eq(2).click();
                    break;
                case "product":
                    $(".menuList>a").eq(3).click();
                    break;
                case "aboutUs":
                    $(".menuList>a").eq(4).click();
                    break;
                default:
                    console.log("参数多余")
                    break;
            }
            
            /*侧边进度条*/
            var winHeight = $(window).height();
            $(window).scroll(function () {
                var scrollTop = $(document).scrollTop();
                var flegIndex = Math.floor(scrollTop / winHeight);
                //    console.log(flegIndex)
                switch (flegIndex) {
                    case 0:
                        $(".jinDuTiao>li").eq(0).addClass("chose_li").siblings().removeClass("chose_li");
                        $(".menuList>a").eq(0).addClass("chosed").siblings().removeClass("chosed");
                        //清除特有样式
                        $(".jinDuTiao").removeClass("borderColor");
                        $(".header").removeClass("borderColor");
                        break;
                    case 1:
                        $(".jinDuTiao>li").eq(1).addClass("chose_li").siblings().removeClass("chose_li");
                        $(".menuList>a").eq(1).addClass("chosed").siblings().removeClass("chosed");
                        //添加特有样式
                        $(".jinDuTiao").addClass("borderColor");
                        $(".header").addClass("borderColor");
                        break;
                    case 2:
                        $(".jinDuTiao>li").eq(2).addClass("chose_li").siblings().removeClass("chose_li");
                        $(".menuList>a").eq(2).addClass("chosed").siblings().removeClass("chosed");
                        //清除特有样式
                        $(".jinDuTiao").removeClass("borderColor");
                        $(".header").removeClass("borderColor");
                        break;
                    case 3:
                        $(".jinDuTiao>li").eq(3).addClass("chose_li").siblings().removeClass("chose_li");
                        $(".menuList>a").eq(3).addClass("chosed").siblings().removeClass("chosed");
                        //添加特有样式
                        $(".jinDuTiao").addClass("borderColor");
                        $(".header").addClass("borderColor");
                        break;
                    case 4:
                        $(".jinDuTiao>li").eq(4).addClass("chose_li").siblings().removeClass("chose_li");
                        $(".menuList>a").eq(4).addClass("chosed").siblings().removeClass("chosed");
                        //清除特有样式
                        $(".jinDuTiao").removeClass("borderColor");
                        $(".header").removeClass("borderColor");
                        break;
                    default:
                        console.log("文档溢出")
                        break;
                }
            })


            //推荐轮播
            var index_tuijian = 0;
            lunbo("tuiJian", index_tuijian)
            //新闻轮播
            var index_news = 0;
            lunbo("News", index_news)
            //产品轮播
            var index_product = 0;
            lunbo("product", index_product);

            /*轮播公用函数*/
            function lunbo(id, index) {
                var obj = $("#" + id);
                var a = obj.find(".sideItem").length;
                //显示更过点击事件             
                obj.find(".AddMoreBtn").click(function () {
                    index++;
                    if (index == a) {
                        index = 0;
                    }
                    obj.find(".sideBtn>li").eq(index).addClass("li_active").siblings("li").removeClass(
                        "li_active"); //轮播进度显示影藏                                    
                    obj.find(".sideItem").eq(index).show().animate({
                        left: "0"
                    }, 500).siblings(".sideItem").hide().animate({
                        left: "100%"
                    }, 500); //页面运动

                })
                //轮播进度点击跳页显示
                obj.find(".sideBtn>li").click(function () {
                    index = $(this).index()
                    $(this).addClass("li_active").siblings("li").removeClass("li_active");
                    obj.find(".sideItem").eq(index).show().animate({
                        left: "0"
                    }, 500).siblings(".sideItem").hide().animate({
                        left: "100%"
                    }, 500);
                })
            }
        })
    </script>
</body>

</html>