<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品详情</title>
    <link rel="stylesheet" href="../public/dest/newsDetail.min.css">
</head>
<body>
    <div id="newsDetail">
        <div class="header">
            <div class="logo">
                <img src="../public/images/logo.png" alt="logo">
            </div>
            <div class="menuList">
                <a href="./index.html#index">首页</a>
                <a href="./index.html#tuiJian">推荐</a>
                <a href="./index.html#News" class="chosed">新闻</a>
                <a href="./index.html#product">产品</a>
                <a href="./index.html#aboutUs">关于我们</a>
            </div>
        </div>
        <div class="navBar">
            <a href="./index.html#index" class="chosed">首页</a>>
            <a href="./index.html#News">新闻</a>>
            <span>Prime-AI</span>
        </div>
        <div id="mainContent">
            <p>春天的旋律</p>
            <p>2018年3月21日</p>
            <div class="item">
                <div class="imgBox">
                    <img src="../public/images/certify01.png" alt="">
                </div>
                <div class="textBox">
                    在别人看来，母爱是慈祥的，亲切的，温柔的；而父爱则是严厉的，粗犷的。有一首歌也这样唱道：“世上只有妈妈好，有妈的孩子像个宝……”这首各唱得固然不错，但是这对爸爸来说太不公平了。虽然，我对音乐并不在行，可我还是斗胆要求改歌词：“世上还有爸爸好，有爸的孩子才是个宝
                    我的爸爸也和其他爸爸一样十分严厉，但他却不像他们一样有时用“武力”来解决问题，而是实行他的“文治政策”。童年时候，也不知为何，一向乖巧的我竟跟着一帮调皮的小孩去玩火。后来被妈妈发现了。她就将我“押解”回家。正准备“严刑逼供”，“手下留情！”幸亏爸爸来得及时，才使我躲过这一劫。随后，爸爸就拉着我的手来到房间里和我说话。我也不记得当时他对我说了些什么，只觉得他说得语重心长。不久，我便流下了眼泪，向爸爸承认了错误，以后不再犯错了……
                    我的爸爸很凶，可能是由于他属虎，致使我的表姐弟们个个都怕他。可不知什么原因，我却不象其他人一样惧怕他。而且，他也常常和我打成一片，好象一个“大小孩”。在我的记忆里，每当我做完作业后，他总会和我一起玩：挠我痒痒，和我进行碰头比赛，和我一块儿拍手手：你拍一，我拍一……一次，我帮妈妈洗碗，不小心打碎了一个碗，妈妈骂了我几句。这时，我的救星——爸爸出现了，他帮我向妈妈“反攻”。妈妈无话可说，只说了句：“就你宠她。”然后，她就去干别的活了。妈妈走后，我俩还击鼓庆祝又一场战斗的胜利……
                    虽然，我只是个冒牌的“作曲家”，但我对我自己的“杰作”挺满意的。“世上还有爸爸好，有爸的孩子才是个宝在别人看来，母爱是慈祥的，亲切的，温柔的；而父爱则是严厉的，粗犷的。有一首歌也这样唱道：“世上只有妈妈好，有妈的孩子像个宝……”这首各唱得固然不错，但是这对爸爸来说太不公平了。虽然，我对音乐并不在行，可我还是斗胆要求改歌词：“世上还有爸爸好，有爸的孩子才是个宝
                    我的爸爸也和其他爸爸一样十分严厉，但他却不像他们一样有时用“武力”来解决问题，而是实行他的“文治政策”。童年时候，也不知为何，一向乖巧的我竟跟着一帮调皮的小孩去玩火。后来被妈妈发现了。她就将我“押解”回家。正准备“严刑逼供”，“手下留情！”幸亏爸爸来得及时，才使我躲过这一劫。随后，爸爸就拉着我的手来到房间里和我说话。我也不记得当时他对我说了些什么，只觉得他说得语重心长。不久，我便流下了眼泪，向爸爸承认了错误，以后不再犯错了……
                    我的爸爸很凶，可能是由于他属虎，致使我的表姐弟们个个都怕他。可不知什么原因，我却不象其他人一样惧怕他。而且，他也常常和我打成一片，好象一个“大小孩”。在我的记忆里，每当我做完作业后，他总会和我一起玩：挠我痒痒，和我进行碰头比赛，和我一块儿拍手手：你拍一，我拍一……一次，我帮妈妈洗碗，不小心打碎了一个碗，妈妈骂了我几句。这时，我的救星——爸爸出现了，他帮我向妈妈“反攻”。妈妈无话可说，只说了句：“就你宠她。”然后，她就去干别的活了。妈妈走后，我俩还击鼓庆祝又一场战斗的胜利……
                    虽然，我只是个冒牌的“作曲家”，但我对我自己的“杰作”挺满意的。“世上还有爸爸好，有爸的孩子才是个宝
                </div>
            </div>
            <div class="item">
                <div class="imgBox">
                    <img src="../public/images/certify02.png" alt="">
                </div>
                <div class="textBox">
                    在别人看来，母爱是慈祥的，亲切的，温柔的；而父爱则是严厉的，粗犷的。有一首歌也这样唱道：“世上只有妈妈好，有妈的孩子像个宝……”这首各唱得固然不错，但是这对爸爸来说太不公平了。虽然，我对音乐并不在行，可我还是斗胆要求改歌词：“世上还有爸爸好，有爸的孩子才是个宝
                    我的爸爸也和其他爸爸一样十分严厉，但他却不像他们一样有时用“武力”来解决问题，而是实行他的“文治政策”。童年时候，也不知为何，一向乖巧的我竟跟着一帮调皮的小孩去玩火。后来被妈妈发现了。她就将我“押解”回家。正准备“严刑逼供”，“手下留情！”幸亏爸爸来得及时，才使我躲过这一劫。随后，爸爸就拉着我的手来到房间里和我说话。我也不记得当时他对我说了些什么，只觉得他说得语重心长。不久，我便流下了眼泪，向爸爸承认了错误，以后不再犯错了……
                    我的爸爸很凶，可能是由于他属虎，致使我的表姐弟们个个都怕他。可不知什么原因，我却不象其他人一样惧怕他。而且，他也常常和我打成一片，好象一个“大小孩”。在我的记忆里，每当我做完作业后，他总会和我一起玩：挠我痒痒，和我进行碰头比赛，和我一块儿拍手手：你拍一，我拍一……一次，我帮妈妈洗碗，不小心打碎了一个碗，妈妈骂了我几句。这时，我的救星——爸爸出现了，他帮我向妈妈“反攻”。妈妈无话可说，只说了句：“就你宠她。”然后，她就去干别的活了。妈妈走后，我俩还击鼓庆祝又一场战斗的胜利……
                    虽然，我只是个冒牌的“作曲家”，但我对我自己的“杰作”挺满意的。“世上还有爸爸好，有爸的孩子才是个宝在别人看来，母爱是慈祥的，亲切的，温柔的；而父爱则是严厉的，粗犷的。有一首歌也这样唱道：“世上只有妈妈好，有妈的孩子像个宝……”这首各唱得固然不错，但是这对爸爸来说太不公平了。虽然，我对音乐并不在行，可我还是斗胆要求改歌词：“世上还有爸爸好，有爸的孩子才是个宝
                    我的爸爸也和其他爸爸一样十分严厉，但他却不像他们一样有时用“武力”来解决问题，而是实行他的“文治政策”。童年时候，也不知为何，一向乖巧的我竟跟着一帮调皮的小孩去玩火。后来被妈妈发现了。她就将我“押解”回家。正准备“严刑逼供”，“手下留情！”幸亏爸爸来得及时，才使我躲过这一劫。随后，爸爸就拉着我的手来到房间里和我说话。我也不记得当时他对我说了些什么，只觉得他说得语重心长。不久，我便流下了眼泪，向爸爸承认了错误，以后不再犯错了……
                    我的爸爸很凶，可能是由于他属虎，致使我的表姐弟们个个都怕他。可不知什么原因，我却不象其他人一样惧怕他。而且，他也常常和我打成一片，好象一个“大小孩”。在我的记忆里，每当我做完作业后，他总会和我一起玩：挠我痒痒，和我进行碰头比赛，和我一块儿拍手手：你拍一，我拍一……一次，我帮妈妈洗碗，不小心打碎了一个碗，妈妈骂了我几句。这时，我的救星——爸爸出现了，他帮我向妈妈“反攻”。妈妈无话可说，只说了句：“就你宠她。”然后，她就去干别的活了。妈妈走后，我俩还击鼓庆祝又一场战斗的胜利……
                    虽然，我只是个冒牌的“作曲家”，但我对我自己的“杰作”挺满意的。“世上还有爸爸好，有爸的孩子才是个宝
                </div>
            </div>
        </div>

    </div>
    <script src="../public/js/jquery-1.10.1.min.js"></script>

</body>

</html>